body{
  font-family: Arial, Helvetica, sans-serif;
  background:#f3f4f6;
  margin:0;
  padding:15px;
}

#fsBtn{
  position:fixed;
  top:10px;
  right:10px;
  padding:10px 14px;
  background:#111827;
  color:#fff;
  border:none;
  border-radius:8px;
}

.container{
  max-width:900px;
  margin:auto;
  background:#fff;
  padding:25px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,.1);
}

h1{text-align:center}
.info{text-align:center;color:#555;margin-bottom:20px}

.question{
  border:1px solid #e5e7eb;
  border-radius:10px;
  padding:15px;
  margin-bottom:15px;
}

.question p{font-weight:bold}

label{
  display:block;
  margin:6px 0;
}

.correct{color:green;font-weight:bold}
.wrong{color:red;font-weight:bold}

button{
  width:100%;
  padding:14px;
  font-size:16px;
  background:#2563eb;
  color:#fff;
  border:none;
  border-radius:10px;
  margin-top:20px;
}

#result, #analysis{
  margin-top:20px;
  font-size:18px;
}
